@model WebLocamer.Models.tarif

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>tarif</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.libelle)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.libelle)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.prix_jour)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.prix_jour)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id_tarif }) |
    @Html.ActionLink("Back to List", "Index")
</p>
